@use '../../index.scss' as *;

.user-nav-buttons{
    font-size: 1.5rem;
    margin: 20px;
    padding: 15px;
    color: $foregroundColor;
}

.user-nav-buttons:hover{
    color: $primaryColor;
}

.user-list{
    @include vertical-list();

    .user-profile{
        width: 100%;
    }

    .user-cover-image{
        width: 100%;
    }
    @media only screen and (max-width: 600px) {
        .user-details-container{
        margin-left: 0;
    }
    
    }
}

