// Colors

$backgroundColor: #252A38;
$backgroundDarkerColor: #151820;

$foregroundColor: #DCDCDC;
$primaryColor: #2985FF;

$transparanantOverlayColor: #252A38d9;

$profileMaskColor: #252a38a3;

$headlineColor: #272343;
$paragraphColor: #2d334a;
$buttonColor: #ffd803;
$buttonTextColor: #272343;

$errorColor: red;
$successColor: green;

$strokeColor: #272343;
$secondaryColor: #fffffe;
$tertiaryColor: #bae8e8;

// Fonts

$mobile-font-size-title: 1.1em;
$mobile-font-size-subtitle: 0.85em;
$mobile-font-size-button: 0.85em;
$mobile-font-size-body: 0.5em;
$mobile-font-size-secondary: 0.4em;

$tablet-font-size-title: 1.5em;
$tablet-font-size-subtitle: 1.25em;
$tablet-font-size-button: 1.25em;
$tablet-font-size-body: 0.875em;
$tablet-font-size-secondary: 0.635em;

$regularWeight: 400;
$boldWeight: 600;
$lighterWeight: 300;

// Spacings

$mobile-gutter: 1.5rem;
$mobile-section-spacing: 2.5em;
$mobile-card-padding: 1em;

$tablet-gutter: 2em;
$tablet-section-spacing: 3em;
$tablet-card-padding: 1em;

$desktop-gutter: 3em;
$desktop-section-spacing: 5em;
$desktop-card-padding: 1.5em;

$desktop-font-size-title: 2em;
$desktop-font-size-subtitle: 1.5em;
$desktop-font-size-button: 1.5em;
$desktop-font-size-body: 1em;
$desktop-font-size-secondary: 0.75em;

:root {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $foregroundColor;
}

@mixin vertical-list() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  width: calc(100vw - 2*$mobile-gutter);
}

@mixin page-title() {
  padding-left: $mobile-gutter;
  @media only screen and (min-width: 992px) {
    display: none;
  }
}

.page-title{
  @include page-title();
}


@mixin font-subtitle(){

  font-weight: $lighterWeight;
  font-size: $mobile-font-size-subtitle;

  @media only screen and (min-width: 600px) {
    font-size: $tablet-font-size-subtitle;
  }
  @media only screen and (min-width: 992px) {
    font-size: $desktop-font-size-subtitle;
  }
}

@mixin form-input(){
  @include font-subtitle()
}

@mixin standard-button(){
  font-size: 1rem;
  padding: 15px;
  color: $foregroundColor;
  background-color: transparent;
  font-weight: $boldWeight;
}