@use '../../index.scss' as *;

.post-nav-buttons{
    font-size: 1.5rem;
    margin: 20px;
    padding: 15px;
    color: $foregroundColor;
}

.post-nav-buttons:hover{
    color: $primaryColor;
}

.post-list{
   @include vertical-list();



    .post-card{
        width: 100%;
        margin: calc($mobile-gutter/2) 0;
    }

}

.page-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .post-list{
        gap:  0 $mobile-gutter;

        .post-card{
            flex-grow: 1;
            width: 30vw;
        }
    }
}

@media only screen and (min-width: 992px) {
    .post-list{
        .post-card{
            width: 25vw;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .post-list{
        .post-card{
            width: 20vw;
        }
    }
}