@use '../../index.scss' as *;

.post-nav-buttons{
    font-size: 1.5rem;
    margin: 20px;
    padding: 15px;
    color: $foregroundColor;
}

.post-nav-buttons:hover{
    background-color: yellow;
}

.post-list{
   @include vertical-list();

    .post-card{
        width: 100%;
        margin: calc($mobile-gutter/2) 0;
    }
}

.page-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}